.poke_info{
display: flex;
flex-direction: column ;
position: relative;
min-height: 80vh;
margin: 80px auto;
width: 85%;
box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.poke_heard{
    position: relative;
    height: 185px;
    border-radius: 5px;
}
.info_img{
    
    position: absolute;
    width: 280px;
    top: -5em;
    align-self: center;  
}
.info_order{
    text-align: center;
    margin-top: 0.3em;
}
.info_title{
    margin-top: 0.3em;
    text-align: center;
    
}
.poke_measure{
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 0.6em;
}
.measure{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
    color: #3d3c3c;
}
.poke_header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    margin-top: 20px;
}
.poke_type-name{
    text-align: center;
    color: #646464;
}
.poke_type{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em 0;
}
.poke_type-iten{
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    align-items: center;
    text-align: center;
    font-size: 20px;
    line-height: 19px;
}
.iten_color{
    color: #302F2F;

}
.poke_abilities{
    display: flex;
    gap: 1em;
}
.card_stat{
    
}
.poke_movements{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    margin-bottom: 50px;
    padding: 20px;
}
.movements_title{
    font-family: 'Roboto', sans-serif;
    color: red;
    padding: 15px 0;
}
.movements_list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.movements_list > span{
    background-color: #aaa;
    padding: 5px;
    border-radius: 5px;
}
.has_error{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e005;
    min-height: 100vh;
}
.error_title{
    padding: 30px;
    font-size: 40px;
}
.error_img{
    max-width: 1100px;
    border-radius: 10px;
}