
.pokedex_head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: auto;
    padding: 1em;
    width: 80%;
    gap: 1em;
}
.pokedex_head-form{
    width: 80%;
    display: flex;
    gap: 1em;
}
.pokedex_title{
    top: 2em;
}
.pokedex_title-span{
    color: #FE1936;
}
.pokedex_form{
    width: 100%;
}
.pokedex_input{
    padding: 0.8em;
    width: 60%;
    max-width: 20rem;
}
.pokedex_button{
    padding: 0.95em;
    background-color: #FE1936;
    width: 40%;
    max-width: 10rem;
    color: #fff;
}