
.ul_name{
    display: flex;
    gap: 1em;
}
.card_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* .card_pokedex{
    background-color: #aaa2;
    
} */
.card_url{
    display: flex;
    flex-wrap: wrap;
    /* width: 80px; */
    gap: 10px;
    /* background-color: blueviolet; */
    justify-content: space-between;
}
.span_url{
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1em;
    
}
